html {
	font-size: 15px;
	font-family: sans-serif;
	line-height: 1.9;
}

section {
	position: relative;
	float: left;
}

.block {
	background: #d4d4d4;
	position: relative;
	left: 100px;
	padding: 25px;
	width: 200px;
	height: 200px;
	margin: 10;
}

.a {
}

.b {
}

.c {

}
